<!-- index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
        @media print {
            .hidden-print {
                display: none;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyseur de noms de domaines</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div id="app" class="container mx-auto p-8">
    <h1 class="text-3xl font-bold text-center mb-8 hidden-print">Analyseur de noms de domaines</h1>
    <p class="text-center mb-3 hidden-print">Cet outil capture les domaines appelés et les cookies déposés par une page web à partir de son URL.</p>
    <p class="text-center mb-3 hidden-print">La capture s'effectue sans demande de consentement.</p>
    <form @submit.prevent="analyzeUrls" class="bg-white p-6 rounded-lg shadow-md hidden-print">
        <div class="mb-4">
            <label for="urls" class="block text-gray-700 text-sm font-bold mb-2">Entrez les URLs des pages à analyser (une par ligne) :</label>
            <textarea v-model="urls" id="urls" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="https://example1.com" rows="5" required></textarea>
        </div>
        <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Analyser
        </button>
    </form>
    <div v-if="loading" class="text-center mt-8">
        <svg class="animate-spin h-8 w-8 text-blue-500 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
        </svg>
    </div>
    <div v-if="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-8" role="alert">
        {{ error }}
    </div>
    <div v-if="results.length > 0" class="mt-8">
        <div class="tabs hidden-print">
                <button v-for="(res, index) in results" :key="index" @click="activeTab = index" class="px-4 py-2 rounded-t-md border-b-2" :class="{'border-blue-500': activeTab === index, 'border-gray-200': activeTab !== index}">{{ res.url }}</button>
            </div>
        <div v-for="(res, index) in results" :key="index" v-show="activeTab === index" class="mt-4">
            <button @click="printPage(res.url)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-4 hidden-print">Imprimer</button>
            <h3 class="text-2xl font-semibold mb-4">URL analysée : </h3>
            <div class="overflow-x-auto w-full bg-white p-6 rounded-lg shadow-md mt-4">
                {{ res.url }}
            </div>
            <h3 class="text-2xl font-semibold mt-8 mb-4">Date de l'analyse :</h3>
            <div class="overflow-x-auto w-full bg-white p-6 rounded-lg shadow-md mt-4">
                {{ new Date().toISOString().split('T')[0] }}
            </div>
            <h3 class="text-2xl font-semibold mt-8 mb-4">Noms de domaines capturés :
                <button @click="copyDomainsToClipboard(res.data.domaines)" class="text-gray-500 hover:text-gray-700 ml-4 hidden-print"><span role="img" aria-label="copy">📋</span></button>
            </h3>
            <ul class="bg-white p-6 rounded-lg shadow-md">
                <li v-for="domaine in res.data.domaines" :key="domaine" class="border-b py-2">{{ domaine }}</li>
            </ul>
            <h3 class="text-2xl font-semibold mt-8 mb-4">Cookies capturés :
                <button @click="copyCookiesToClipboard(res.data.cookies)" class="text-gray-500 hover:text-gray-700 ml-4 hidden-print"><span role="img" aria-label="copy">📋</span></button>
            </h3>
            <div class="overflow-x-auto w-full bg-white p-6 rounded-lg shadow-md mt-4">
                <table class="min-w-full bg-white w-full">
                    <thead>
                    <tr>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left">Nom</th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left">Domaine</th>
                        <th class="py-2 px-4 border-b-2 border-gray-200 text-left">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="cookie in res.data.cookies" :key="cookie.name" class="border-b">
                        <td class="py-2 px-4">{{ cookie.name }}</td>
                        <td class="py-2 px-4">{{ cookie.domain }}</td>
                        <td class="py-2 px-4 max-w-[200px] truncate block overflow-hidden text-ellipsis whitespace-nowrap break-words" :title="cookie.value">{{ cookie.value.substring(0, 50) }}{{ cookie.value.length > 50 ? '...' : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            urls: '',
            loading: false,
            error: null,
            results: [],
            activeTab: 0
        },
        methods: {
            showNotification(message, isError = false) {
                const notification = document.createElement('div');
                notification.textContent = message;
                notification.className = `fixed bottom-4 right-4 py-2 px-4 rounded text-white ${isError ? 'bg-red-500' : 'bg-green-500'} shadow-md`;
                document.body.appendChild(notification);
                setTimeout(() => {
                    notification.classList.add('opacity-0');
                    setTimeout(() => document.body.removeChild(notification), 1000);
                }, 3000);
            },
            async analyzeUrls() {
                this.loading = true;
                this.error = null;
                this.results = [];
                const urlsArray = this.urls.split('\n').map(url => url.trim()).filter(url => url.length > 0);
                try {
                    for (const url of urlsArray) {
                        const response = await axios.post('/analyze', { url });
                        this.results.push({ url, data: response.data });
                    }
                } catch (err) {
                    this.error = err.response ? err.response.data.detail : 'Une erreur est survenue';
                } finally {
                    this.loading = false;
                }
            },
            copyDomainsToClipboard(domains) {
                const domainData = domains.join('\n');
                navigator.clipboard.writeText(domainData).then(() => {
                    this.showNotification('Domaines copiés dans le presse-papier');
                }).catch(err => {
                    this.showNotification('Impossible de copier les domaines dans le presse-papier', true);
                });
            },
            copyCookiesToClipboard(cookies) {
                const cookieData = cookies.map(cookie => `${cookie.name}\t${cookie.domain}\t${cookie.value}`).join('\n');
                navigator.clipboard.writeText(cookieData).then(() => {
                    this.showNotification('Cookies copiés dans le presse-papier');
                }).catch(err => {
                    this.showNotification('Impossible de copier les cookies dans le presse-papier', true);
                });
            },
            printPage(url) {
                document.title = url.replace(/https?:\/\//, '').replace(/\./g, '-') + '_' + new Date().toISOString().split('T')[0];
                window.print();
            }
        }
    });
</script>
</body>
</html>
